<div class="d-flex justify-content-center mt-5">
  <div class="col-2">
    <!-- And what we want to add here is a form group to tell our element here, that it's part
         of a form group and the error goes away and will set this equel to our loginForm.-->
    <!-- Now this ngSubmit is a form feature. It's coming from the form group directive.
        And this means that if we've got a button inside the form and we click on this button, then that's
        going to call this onSubmit method we have up here.-->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      </div>

      <div class="form-label-group">
        <input formControlName="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputEmail">Email address</label>
      </div>

      <div class="form-label-group">
        <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <label for="inputPassword">Password</label>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>

  <div class="col-4">
    <p>Form Status: {{loginForm.status}}</p>
    <p>Email Status: {{loginForm.get('email').status}}</p>
    <p>Email Touched: {{loginForm.get('email').touched}}</p>
    <p>Email Dirty: {{loginForm.get('email').dirty}}</p>
    <pre>{{loginForm.value | json}}</pre>
  </div>
</div>
