<!-- h-100 means even if we got cards of different sizes, as in some have got bigger titles than the other than all of the cards
  on the same row will be equally sized in height, will add to our image in the next row. -->
<div class="card h-100 shadow-sm">
  <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid bg-info">
  <div class="card-body d-flex flex-column">
    <a routerLink="/shop/{{product.id}}">
      <h6 class="text-uppercase">{{product.name}}</h6>
    </a>
    <!-- One of the things we can do in Angular because we know our price is going to be a currency, we can use a pipe so that it's formatted as a currency.-->
    <span class="mb-2">{{product.price | currency}}</span>
      <div class="btn-group mt-auto">
        <button type="button" class="btn  btn-outline-secondary fa fa-shopping-cart mr-2"></button>
        <button type="button" class="btn  btn-outline-secondary" routerLink="/shop/{{product.id}}">View</button>
      </div>
      <small class="text-muted">9 mins</small>
  </div>
</div>
